
<body >
   <div class="container">
      <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
               <div class="card-body">
                  
                  <div class="alert alert-danger" *ngIf="errorMessage!=null">
                     <strong>Alert !</strong> {{errorMessage}}
                  </div>
                  <div class="alert alert-danger" *ngIf="VerificationCode.touched && VerificationCode.errors">
                     <div *ngIf="VerificationCode.errors.required">
                        <strong>Alert !</strong><span>Please verification Code</span>
                     </div>
                  </div>
                  <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.errors">
                     <div *ngIf="newPassword.errors.required">
                        <strong>Alert !</strong><span>Please enter password</span>
                     </div>
                  </div>
                  <form class="form-signin"   #forgotPassword="ngForm">
                  <div class="form-label">
                     <label for="inputEmail">Verification Code</label>
                  </div>
                  <div class="form-label-group">
                     <input id="verificationCode" type="password" maxlength="50" class="form-control"
                     [(ngModel)]="verificationCode"  style="padding-left: 15px;" #VerificationCode="ngModel" ngModel required name="VerificationCode"> 
                     <span >
                        <div style="position: absolute;top: 1%;right: 0%;height: 34px;width: 39px;" class="btn btn-default btn-md" 
                        id="showhide" data-val='1' (click)="codeShowHide()"><span id='eyeNew' class="glyphicon glyphicon-eye-close"></span></div>
                     </span>
                  </div>
                  <div class="form-label">
                     <label for="inputEmail">New Password</label>
                  </div>
                  <div class="form-label-group">
                     <input id="newPassword" type="password" maxlength="25" class="form-control"
                     length="40" [(ngModel)]="password"  style="padding-left: 15px;" #newPassword="ngModel" ngModel required name="newPassword">
                     <span >
                        <div style="position: absolute;top: 1%;right: 0%;height: 34px;width: 39px;" class="btn btn-default btn-md" 
                        id="showhide" data-val='1' (click)="pwdShowHide()"><span id='eyeNew' class="glyphicon glyphicon-eye-close"></span></div>
                     </span>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase"  (click)="onNext()" [disabled]="!forgotPassword.valid" >Submit</button>
                  <hr class="my-4">
                  <a routerLink="/signin">Login</a>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>