<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <div style="    font-weight: bold;text-align: center">Change Password</div>
            <hr>
            <form class="form-signin" (ngSubmit)="onChangePassword(form)" #form="ngForm">
              <div class="form-label">
                <label for="inputEmail">Old Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" name="oldPassword" id="oldPassword" #oldPassword="ngModel" ngModel class="form-control"
                  style="padding-left: 15px;" required>
                <span>
                  <div style="position: absolute;top: 1%;right: 0%;height: 34px;width: 39px;" class="btn btn-default btn-md"
                    id="showhide" data-val='1' (click)="OldPwdShowHide()"><span id='eyeOld' class="glyphicon glyphicon-eye-close"></span></div>
                </span>
              </div>
              <div class="form-label">
                <label for="inputPassword">New Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" name="newPassword" id="newPassword" #newPassword="ngModel" ngModel class="form-control"
                  style="padding-left: 15px;" required>
                <span>
                  <div style="position: absolute;top: 1%;right: 0%;height: 34px;width: 39px;" class="btn btn-default btn-md"
                    id="showhide" data-val='1' (click)="NewPwdShowHide()"><span id='eyeNew' class="glyphicon glyphicon-eye-close"></span></div>
                </span>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!form.valid" id="confirmRegistration">Verify</button>
              <hr class="my-4">
              <a routerLink="/home" style="font-weight: 700;" class="cursorHand" (click)='refresh()'> Go to Home</a>
            </form>
            <div class="alert alert-danger" *ngIf="errorMessage!=null">
              <strong>Alert !</strong> {{errorMessage}}
            </div>
            <div class="alert alert-success" *ngIf="sucessMessage">
              <strong>Alert !</strong> Password changed successfully.
            </div>
            <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.errors">
              <div *ngIf="oldPassword.errors.required">
                <strong>Alert !</strong><span>Please enter old password</span>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.errors">
              <div *ngIf="newPassword.errors.required">
                <strong>Alert !</strong><span>Please enter new password</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>