
<body style="color: white">
   <div class="container">
      <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
               <div class="card-body">
                  
                  <span style="    font-weight: bold;padding-left: 34%;">Resend verfication code</span><hr>
                
                  <form class="form-signin"  (ngSubmit)="resendForm(reSendform)" #reSendform="ngForm">
                  <div class="form-label"  >
                     <label for="inputEmail">Email-Id</label>
                  </div>
                  <div class="form-label-group"  >
                     <input id="email" onkeyup="this.value = this.value.toLowerCase();" type="email" name="email" maxlength="50" class="form-control"
                     [(ngModel)]="email" style="padding-left: 15px;" ngModel required email #UserName="ngModel">
                  </div>
                 
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!reSendform.valid" id="confirmRegistration" >Resend Code</button>
                  <hr class="my-4">
                  <a routerLink="/signin" style="font-weight: 700;" class="cursorHand">Login</a>
                  </form>
                  <div class="alert alert-danger" *ngIf="errorMessage!=null">
                        <strong>Alert !</strong> {{errorMessage}}
                     </div>
                     <div class="alert alert-danger" *ngIf="UserName.touched && UserName.errors">
                        <div *ngIf="UserName.errors.required">
                           <strong>Alert !</strong><span>Please enter e-mail Id</span>
                        </div>
                        <div *ngIf="UserName.errors.email"><strong>Alert !</strong>Email must be a valid email address</div>
                     </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

