
<body style="color: white">
   <div class="container">
      <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
               <div class="card-body">
                  
                  
                  <div class="alert alert-info"> <strong>Info!</strong> Please set your one time password</div>
                 
                  <form class="form-signin"   method="POST" action="#" #f="ngForm">
                  <div class="form-label">
                     <label for="inputEmail">Username</label>
                  </div>
                  <div class="form-label-group">
                     <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus> -->
                     <input type="email" onkeyup="this.value = this.value.toLowerCase();" name="email" id="email" #UserName="ngModel" [(ngModel)]="registrationUser.username"  class="form-control" required  style="padding-left: 15px;" >
                  </div>
                  <div class="form-label">
                     <label for="inputPassword">Temporary Password</label>
                  </div>
                  <div class="form-label-group">
                     <input type="password" name="TempPassword" id="TempPassword" #TempPassword="ngModel" [(ngModel)]="registrationUser.existingPassword" class="form-control" style="padding-left: 15px;" minlength="5" required>

                  </div>
                  <div class="form-label">
                    <label for="inputPassword">New Password</label>
                 </div>
                 <div class="form-label-group">
                    <input type="password" name="NewPassword" id="NewPassword" #NewPassword="ngModel"  [(ngModel)]="registrationUser.password" class="form-control" style="padding-left: 15px;" minlength="5" required>

                 </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="onRegister()" type="submit" [disabled]="!f.valid" >Sign in</button>
                  <hr class="my-4">
                  <a routerLink="/signin" class="cursorHand">Login</a>

                  </form>
                  <div class="alert alert-danger" *ngIf="errorMessage!=null">
                        <strong>Alert !</strong> {{errorMessage}}
                     </div>
                     <div class="alert alert-danger" *ngIf="UserName.touched && UserName.errors">
                       <div *ngIf="UserName.errors.required">
                         <strong>Alert !</strong><span>Please enter user name</span>
                       </div>
                       <div *ngIf="UserName.errors.email"><strong>Alert !</strong>Email must be a valid email address</div>
                    </div>
                     <div class="alert alert-danger" *ngIf="TempPassword.touched && TempPassword.errors">
                       <div *ngIf="TempPassword.errors.required">
                         <strong>Alert !</strong><span>Please enter Temporary Password</span>
                       </div>
                       <div *ngIf="TempPassword.errors.minlength">
                         <strong>Alert !</strong><span>Please enter minimum 5 characters of temporary Password  </span>
                       </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="NewPassword.touched && NewPassword.errors">
                     <div *ngIf="NewPassword.errors.required">
                       <strong>Alert !</strong><span>Please new Password</span>
                     </div>
                     <div *ngIf="NewPassword.errors.minlength">
                       <strong>Alert !</strong><span>Please enter minimum 5 characters of new Password  </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
